<!DOCTYPE html>
<html>
<head>
    <title>Business Builder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <div id="content">
        <div id="left">
            <h2>Business Snapshot</h2>
            <div id="summary"></div>
        </div>

        <div id="right">
            <div id="chat">
                <div id="prompt" class="bigPrompt">
                    <b>
                        <span style="color: #000000;">
                            Tell me about the ideas you have for your business
                        </span>
                    </b><br><br>
                    <span style="font-size:14px; color:#000000;">
                        Once you're finished, tell me "That's all" or "I'm finished".
                    </span>
                </div>
            </div>

            <div id="inputBox">
                <input id="input" placeholder="Type here..." onkeydown="handleKey(event)" />
                <button onclick="send()">↑</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
